.intro {
  background-color: $gray-100;

  &-image {
    border-radius: 100%;
    height: 100px;
    width: 100px;
  }

  &-quote {
    color: $gray-600;
    font-size: 2.4rem;
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;

    &:before {
      content: '"';
      margin-right: .4rem;
    }

    &:after {
      content: '"';
      margin-left: .4rem;
    }
  }
}
