.sidebar {
  background-color: $gray-900;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  transition: height .2s ease-out,
  right .2s ease-out;
  
  @media (min-width: grid-breakpoint(md)) {
    height: 100%;
    position: fixed;
    right: 0;
    width: $sidebar-width;
    z-index: 100;
  }

  &-hide {
    height: 0;
    overflow: hidden;

    @media (min-width: grid-breakpoint(md)) {
      right: -$sidebar-width;
    }
  }
}
