.sidebar {
  background-color: $gray-900;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: right .2s ease-out;
  
  @media (min-width: grid-breakpoint(md)) {
    height: 100%;
    position: fixed;
    right: 0;
    width: $sidebar-width;
    z-index: 100;
  }

  &-hide {
    @media (max-width: grid-breakpoint(md)) {
      display: none;
    }

    @media (min-width: grid-breakpoint(md)) {
      right: -$sidebar-width;
    }
  }
}
