.site {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  transition: padding-right .2s ease-out;

  &-blog {
    position: relative;

    > article {
      margin: $grid-gutter-width 0;
    }

    &-bar {
      @media (min-width: grid-breakpoint(md)) {
        padding-left: 40px;

        &:before {
          background-color: $gray-100;
          border-radius: 4px;
          content: '';
          height: 100%;
          left: 17px;
          margin-bottom: 10px;
          position: absolute;
          top: 0;
          width: 6px;
        }
      }
    }

    &-dot {
      @media (min-width: grid-breakpoint(md)) {
        &:before {
          background-color: theme-color('primary');
          border-radius: 100%;
          content: '';
          height: 12px;
          left: -41px;
          position: absolute;
          top: 14px;
          width: 12px;
        }
      }
    }
  }

  &-branding {
    flex: 1;
  }

  &-header {
    align-items: center;
    background: theme-color('primary');
    display: flex;
    height: 100px;
  }

  &-content {
    display: flex;
    flex: 1;
    position: relative;

    @media (max-width: grid-breakpoint(md)) {
      padding: 0 15px;
    }
  }

  &-footer {
    background-color: $gray-800;
    padding-top: 40px;
  }

  &-main {
    background: linear-gradient(90deg, transparent 0%, $body-bg 4%, $body-bg 96%, transparent 100%);
    padding-bottom: 15px;
    padding-top: 15px;
  }

  &-sidebar {
    padding-right: 0;
    
    @media (min-width: grid-breakpoint(md)) {
      padding-right: $sidebar-width;
    }
  }

  &-title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;

    &-link {
      color: $white;
      text-decoration: none;

      &:hover {
        box-shadow: none;
        color: $white;
      }
    }
  }
}
