.pagination {
  display: flex;
  justify-content: center;

  &-arrow {
    fill: $white;
    height: 10px;
    margin: auto 0;
    width: 10px;
  }

  a {
    background-color: theme-color('primary');
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }

  span {
    &:hover {
      cursor: pointer;
    }
  }

  a,
  span {
    border-radius: 100%;
  }

  .dots {
    background-color: theme-color('primary');
  }

  > .page-numbers {
    background-color: theme-color('primary-dark');
  }

  .page-numbers {
    color: $white;
    display: inline-block;
    line-height: 1;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s ease-out;
    width: 16px;

    &:hover {
      background-color: theme-color('primary-dark');
      color: $white;
    }
  }

  .current {
    background-color: theme-color('primary-dark');
  }
}
