.post {
  position: relative;

  &-container {
    background-color: $white;
    border-radius: 5px;
    padding: 15px;
  }

  &-thumbnail {
    margin-bottom: 8px;
  }

  &-password {
    &-form {
      display: flex;
      flex-direction: column;
    }

    &-field {
      background-clip: padding-box;
      background-color: $white;
      border: 1px solid $gray-100;
      border-radius: 4px;
      box-shadow: none;
      margin-bottom: 8px;
      margin-top: 8px;
      outline: none;
      padding: 4px;
    }

    &-submit {
      background-color: theme-color('primary');
      border: 0;
      border-radius: 4px;
      color: $white;
      font-family: $font-family-base;
      font-weight: 500;
      outline: none;
      padding: 4px;

      &:hover {
        background-color: theme-color('primary-light');
      }
    }
  }
}
